.task__manager {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 2px solid black;
    padding: 2rem;
    border-radius: 15px;
    margin: 5rem;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

.btn__tasks {
    margin: .2rem;
}

.btn__btn--section {
    display: flex;
    justify-content: space-between;
}

.btn__create {
    width: 10rem;
    /* margin-right: 5rem; */
}

.navbar__link {
    width: 100px;
    margin: auto;
    text-align: center;
}

.done__assignment {
    border: 2px dotted goldenrod;
    margin-bottom: 2%;
    border-radius: 15px;
    padding: 2%;
}

.task__user-fullName {
    border: 1px dotted orange;
    padding: 1rem;
    border-radius: 30px;
    background-color: beige;
}

.task__user-assigned {
    text-align: center;
}

.btn__done {
    background-color: rgb(127, 191, 78);


}

.btn__ticketList {

    margin: 1%;
}

.btn__update {
    background-color: rgb(98, 115, 152);
    color: azure;
}

.btn__delete {
    background-color: rgb(175, 109, 109);
    color: azure;
}

.btn__div {
    display: flex;
    flex-direction: row;
    border: 2px dotted black;
    padding: 1.5rem;
    width: fit-content;
}