.task__manager {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 2px solid black;
    padding: 2rem;
    border-radius: 15px;
    margin: 2rem;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn__tasks {
    margin: .2rem;
}

.btn__btn--section {
    display: flex;
    justify-content: space-between;
}

.btn__create {
    width: 200px;
}

.navbar__link {
    width: 100px;
    margin: auto;
    text-align: center;
}

.done__assignment {
    border: 2px dotted goldenrod;
    margin-bottom: 2%;
    border-radius: 15px;
    padding: 2%;
}

.task__user-fullName {
    border: 1px dotted orange;
    padding: 1rem;
}

.task__user-assigned {
    text-align: center;
}