/* .user__assigned {

    padding: 5%;

}

.user__assigned--task {
    font-size: small;
    border-bottom: 1px solid rebeccapurple;
} */

#type__container {
    place-items: center center;
}

#type__form {
    max-width: 330px;
}

Button:hover {

    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn__btn-new {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}